*{margin: 0;padding: 0;box-sizing: border-box; font-family: 'Roboto';}

a{ text-decoration: none;}

a:hover{
    text-decoration: none !important; 
}

li{ list-style: none; }

.nav-btn a{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 15px;
    padding: 5px 10px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    margin-top: 5px;
}

.nav-btn-color a{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 15px;
    padding: 5px 10px;
    outline: none;
    color: #fff;
    background-color: #29626D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    margin-top: 5px;
}


.nav-btn1 a{
    margin: 0 5px;
    padding: 5px 15px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    margin-top: 5px;
}

.Rectangle-12 {
    background-color: #111;
  }

.d-flex button.btn{background-color: #FF7B6D;
    border-radius: 20px;
    width: 99px;
    margin-left: 15px;}
    .d-flex button.btn:hover{background:#000;color: #fff;}
.nav-item a{
    color: #fff!important;
    font-size: 17px;
}
.text-md-left {
    text-align: left !important;
    background: transparent;
    border: 1px solid #565656;
    border-radius:20px ;
    padding: 10px;
}



.footer_section{
    background-color: #111111;
}

.footer_main{
    height: 130px;
}
.footer_mid ul li{
    margin: 12px;
    list-style: none;
}
.footer_mid ul li a{
    color: #f1f1f1;
    font-size: 14px;
}
.footer_right svg{
    margin: 0 10px;
}

.footer_end{
    background-color: #292929;
    height: fit-content;
}

.footer_end p{
    color: #f1f1f1;
    padding: 26px 0px;
    font-size: 14px;
}
.footer_end p span a{
    color: #6eabef;
}

.footer_btn{
    background-color: #eed507 !important;
    padding: 10px 35px !important;
    position: absolute !important;
    right: 15px;
    /* margin-top: 1px; */
}



@media (max-width: 1024px){
    .footer_btn{
        position: relative !important;
        right: 0;
        margin-left: 5px;
    }
    
}


@media (max-width: 768px){
    .footer_mid ul{
        display: grid !important;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 0px 10px;
        padding: 20px 0 !important;
        margin: 0;
    }
    .footer_main{
        flex-direction: column;
        height: fit-content !important;
        padding: 20px 0px;
        justify-content: space-between !important;
    }
    
}

@media (max-width: 425px){
    .footer_end{
        flex-direction: column;
        padding: 0 10px;
    }
}

.faq-divider::before,.faq-divider::after{
    content: "";
    width: 62px;
    height: 2px;
    background-color: #cccccc;
    display: block;
}

.faq-divider img{
    padding: 8px;
}

@media (max-width: 1024px){
    .whyhl_row{
        /* flex-direction: column; */
        align-items: center;
    }
    .whyhl_col{
        /* border: 1px solid #d3d3d3a6; */
        box-shadow: 0 0 30px 0 #e4ebf0;
        width: fit-content !important;
        padding: 10px 0px;
    }
    .whyhl_content{
        max-width: fit-content !important;
    }
}

@media (min-width: 1025px) and (max-width:1232px){
    .whyhl_col{
        padding: 0 !important;
        margin: 0px !important;
    }

}


@media (max-width: 450px){

    #get-news-letter .email-submit-btn{
        flex-direction: column !important;
    }

    #get-news-letter >div{
        flex-direction: column !important;
    }
    #get-news-letter .news-letter-up-arrow{
        align-items: left;
    }
    #get-news-letter .news-letter-img{
        align-items: left !important;
    }
}

.main_image img{
    height: auto;
    width: 100vw;
}

.prices_heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #4f4f4f;
    margin-top: 30px;
}
.prices_heading h1{
    font-size: 36px;
}
.prices_box{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.left_line , .right_line{
    width: 62px;
    height: 1px;
    background-color: #CCCCCC;
    margin: 0px 8px;
}

.prices_card{
    max-width: 553px;
    align-items: center;
    border: solid 1px #b0c9ce !important;
    border-radius: 0 !important;
}

.prices_card .card-header{
    background-color: #1d7a8c;
    font-size: 28px;
}
.prices_card .card-title{
    color: #646464;
    font-size: 30px;
    font-weight: normal;
    margin-top: 13px;
}
.card_euro{
    font-size: 48px;
}
.price_card_list{
    list-style: none;
}
.price_card_list li{
    display: flex;
    color: #646464;
}
.price_card_list li p{
    margin-left: 10px;
}

hr{
    margin: 50px auto !important;
    width: 75vw;
    align-self: center;
}
.services_cover{
    display: flex;
}
.services_icon{
    height: 108px;
    width: 108px;
    border: solid 1px #b0c9ce;
}
.services_inner{
    width: 145px;
    margin: 40px 3vw;
}
.services_content{
    margin-top: 17px !important;
}
.services_content p{
    color: #646464;
    margin-bottom: 12px !important;
}
.services_content h5{
    color: #1d7a8c;
}

.prices_areas{
    background-color: #f6f6f6;
    min-height: 707px;
}

.services_card{
    background-color: transparent !important;
    flex: none !important;
}
.services_card_list li{
    margin-bottom: 14px;
}
.services_card_list li p{
    font-size: 16px;
    color: #4f4f4f;
}

.services_card h5{
    margin-bottom: 18px;
}

.whyhelperland .prices_heading{
    margin-bottom: 15px;
}
.why_cover{
    color: #646464;
}
.why_left , .why_right{
    width: 360px;
    margin: 0 45px;
}

.why_left p , .why_right p{
    font-size: 14px;
    margin-top: 13px;
}

.left_up , .right_up{
    margin-bottom: 40px;
}


@media (max-width: 1024px){
    .why_cover{
        height: fit-content;
        flex-direction: column;
    }
    .why_left , .why_right{
        margin: 0px 0px;
    }
    .left_up , .right_up , .left_down , .right_down{
        margin-bottom: 25px;
        text-align: center !important;
    }
    /* .why_cover br{
        display: none;  
    } */
    .services_inner{
        width: fit-content;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

}

@media(max-width: 768px){
    .services_cover{
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
    .prices_areas .card-group{
        flex-direction: column;
    }
    .services_cover{
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}

@media (max-width : 425px){
    .why_left , .why_right{
        width: fit-content;
    }
    .why_mid img{
        max-width: 95vw;
    }
}
