
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="tab-pane fade" role="tabpanel" id="changePasswordTab" aria-labelledby="changePassword">
    <form action="">
        <div class="form-group mb-2 col-sm-4 ah">
            <label for="oldPassword">Old Password</label>
            <input type="password" name="oldPassword" placeholder="Current Password" class="form-control ht" maxlength="20" required>
        </div>
        <div class="form-group mb-2 col-sm-4 ah">
            <label for="newPassword">New Password</label>
            <input type="password" name="newPassword" class="form-control ht" placeholder="Password" maxlength="20" required>
        </div>
        <div class="form-group mb-2 col-sm-4 ah">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" class="form-control ht " placeholder="New Password" maxlength="20" required>
        </div>
        <button type="submit" class="reschedule-btn rounded-pill text-light text-decoration-none px-4 mt-3 ml-3">
            Save
        </button>
    </form>
</div>
